<div class="d-flex flex-column justify-content-center align-items-center">
  <section class="hero is-white has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <div class="d-flex flex-column align-items-center text-center">
               <h1>Diseño, Full Stack Developer</h1>
               <div class="col-lg-9">
               <h2>Diseñador y Programador apasionado, aprendiendo en cada paso, siempre dando lo mejor 💪</h2>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="avatar" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680717462/avatar_yo_jz0etc.png">
                <img src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/53/posts/33494/final_image/iconanimationdemo.gif" alt="Final product image" loading="lazy" width="670px" height="396px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>