<div class="d-flex flex-column justify-content-center align-items-center">
  <section class="hero is-white has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <div class="d-flex flex-column align-items-center">
               <h1>Diseño, Full Stack Developer</h1>
               <h2>I design and code beautifully simple things, and I love what I do.</h2>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="avatar" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680717462/avatar_yo_jz0etc.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>