<div style="margin-top: 60px;" class="container py-7">
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-dark font-weight-bold">
      Empresas que confian en mi <i class="ion-ios-body pl-1 text-primary op-8 z-index-1"></i>
    </h2>
    <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681139117/IMG%20PROYECTO%20INTEGRADOR/tirreno_g4jaoh.png" alt="Personal Trainer 1" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign text-md-right">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Helados Tirreno
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Fabrica y Distribución</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
        <p>Empresa dedicada a la fabricacion y distribución de cremas heladas.</p>
        <p>Se realizo a pedido aplicacion para e-comerce y aplicaciones para ingreso del personal durante la pandemia de covid-19. Ademas de otras apps para uso interno.</p>
        <a href="https://www.tirrenohelados.com.ar/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Web</a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 text-md-right">
        <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681139762/IMG%20PROYECTO%20INTEGRADOR/cross-min_y4p7an.png" alt="Personal Trainer 2" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          CROSS BOX FITNESS CLUB
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Gimnasio Integral</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 mb-3">
        <p>Gimnasio donde se desarrollan distintas disciplinas</p>
        <p>Aplicación hecha a medida para que los usuarios realicen la reserva de turnos en diferentes disciplinas y horarios.</p>
        <a href="https://www.instagram.com/crossbox.fitnessclub/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Web</a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681141040/IMG%20PROYECTO%20INTEGRADOR/fogon_g0vbmf.png" alt="Personal Trainer 3" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign text-md-right">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          PARRILLA EL FOGON
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Local de comidas</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
        <p>Local de comidas con especialidad en carnes asadas.</p>
        <p>Aplicacion de administración integral, comandas en pantalla, impresion de ticket, control de inventario, cierres z, etc. Realizada con Front en Angular (Html, Css, Ts), Back en Java, base de datos en MySql. Utilización de API rest.</p>
        <a href="https://parrielfogon.web.app/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Web</a>
      </div>
    </div>
    
  </div>
