<section class="section">
    <div class="container">
        <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
            <div class="col-lg-8">
                <h3 class="h1 m-15px-b">Skills & Tools</h3>
                <p class="m-0px font-2">Habilidades que fui adquiriendo con estudio y mucha practica creando proyectos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680791304/OTRAS%20APPS/ICONOS/ANGULAR_lmiovd.png" style="height: 60px; width: 60px; margin-bottom: 15px;">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">ANGULAR</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680803498/OTRAS%20APPS/ICONOS/css_cjslus.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">CSS</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680803720/OTRAS%20APPS/ICONOS/html_yaaxog.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">HTML</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img style="height: 60px; width: 55; margin-bottom: 15px; margin-right: -25px;" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/javascript-logo-transparent-logo-javascript-images-3_scltht.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">JAVASCRIPT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" style="margin-right: 10px;" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804800/OTRAS%20APPS/ICONOS/Typescript_logo_2020_avlr6s.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">TYPESCRIPT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804976/OTRAS%20APPS/ICONOS/Visual_Studio_Code_1.35_icon.svg_awbmmb.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">VISUAL CODE</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/NETBEANS_vzkuc7.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">NETBEANS</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 pink-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 dark-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 yellow-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 blue-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 blue-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 pink-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 yellow-bg white-color border-radius-50 d-inline-block">
                        <i class="number">LD</i>
                    </div>
                    <div class="p-20px-l media-body">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Full time</span>
                        <h6 class="m-5px-tb">Laravel Developer</h6>
                        <p class="m-0px font-small">San Francisco, US</p>
                    </div>
                </div>
            </div>

            <div class="col-12 p-25px-t text-center">
                <a class="m-btn m-btn-radius m-btn-theme" href="#">Load More</a>
            </div>
        </div>
    </div>
</section>