<section class="section" style="margin-top: 20px;">
    <div class="container">
        <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
            <div class="col-lg-8">
                <h3 class="h1 m-15px-b">Skills & Tools</h3>
                <p class="m-0px font-2">Habilidades que fui adquiriendo con estudio y mucha practica creando proyectos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680898399/OTRAS%20APPS/ICONOS/ANGULAR_lmiovd-removebg-preview_vp9bae.png" style="height: 60px; width: 60px; margin-bottom: 15px;">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">ANGULAR</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680803498/OTRAS%20APPS/ICONOS/css_cjslus.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">CSS</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680803720/OTRAS%20APPS/ICONOS/html_yaaxog.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">HTML</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img style="height: 60px; width: 55; margin-bottom: 15px; margin-right: -25px;" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/javascript-logo-transparent-logo-javascript-images-3_scltht.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">JAVASCRIPT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 theme-bg white-color border-radius-50 d-inline-block">
                        <i class="number">FE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" style="margin-right: 10px;" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804800/OTRAS%20APPS/ICONOS/Typescript_logo_2020_avlr6s.png">
                        <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Front End</span>
                        <h6 class="m-5px-tb">TYPESCRIPT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804976/OTRAS%20APPS/ICONOS/Visual_Studio_Code_1.35_icon.svg_awbmmb.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">VISUAL CODE</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/NETBEANS_vzkuc7.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">NETBEANS</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804800/OTRAS%20APPS/ICONOS/postman-icon_zypxur.webp">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">POSTMAN</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/BOOTSTRAP_bu3zsd.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">BOOTSTRAP</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/GITHUB_evri5c.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">GITHUB</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
               <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/GIT_ld9yhr.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">GIT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
                  <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 green-bg white-color border-radius-50 d-inline-block">
                        <i class="number">TO</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/XAMPP_vw0r7x.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Tools</span>
                        <h6 class="m-5px-tb">XAMPP</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 yellow-bg white-color border-radius-50 d-inline-block">
                        <i class="number">BE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/java-logo-1_zqxy3d.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Back End</span>
                        <h6 class="m-5px-tb">JAVA</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 yellow-bg white-color border-radius-50 d-inline-block">
                        <i class="number">BE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804800/OTRAS%20APPS/ICONOS/spring-boot-1_5zDxm9B_yg0yxx.webp">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Back End</span>
                        <h6 class="m-5px-tb">SPRING BOOT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 yellow-bg white-color border-radius-50 d-inline-block">
                        <i class="number">BE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/MYSQL_q94sf2.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Back End</span>
                        <h6 class="m-5px-tb">MYSQL</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 yellow-bg white-color border-radius-50 d-inline-block">
                        <i class="number">BE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/JWT_pqfyuw.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Back End</span>
                        <h6 class="m-5px-tb">JWT</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 pink-bg white-color border-radius-50 d-inline-block">
                        <i class="number">DE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804799/OTRAS%20APPS/ICONOS/COREL_bsl5ps.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Design</span>
                        <h6 class="m-5px-tb">COREL DRAW</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 m-15px-tb">
                <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                    <a class="overlay-link" href="#"></a>
                    <div class="icon-50 pink-bg white-color border-radius-50 d-inline-block">
                        <i class="number">DE</i>
                    </div>
                    <div class="p-20px-l media-body align-items-center text-center">
                        <img class="minilogo" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680804800/OTRAS%20APPS/ICONOS/PHOTOSHOP_xoakfv.png">
                        <span style="margin-left: 10px;" class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">Design</span>
                        <h6 class="m-5px-tb">PHOTOSHOP</h6>
                        <p class="m-0px font-small"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>