<header>
    <div id="celu" class="d-flex flex-column align-items-center">
    <div id="celu" class="container text-center">

        <!-- Logo -->
        <div id="celu" class="logo">
			  <h1 id="celu"><b>Hernán Andres Glomba</b></h1>
        </div>
<br>
        <h1 id="celu">👾 Diseño y Codigo 👨‍💻</h1>

    </div>
</div>

<div id="pc" class="d-flex flex-column align-items-center">
    <div class="container text-center">

        <!-- Logo -->
        <ul id="pc" class="menu" data-animation="center">
            <li id="pc">
              <a href="#0">
                <h1 id="pc"><b>Hernán Andres Glomba</b></h1>
              </a>
            </li>
            <li id="pc">
              <a href="#0">
                <h1 id="pc">👾 Diseño y Codigo 👨‍💻</h1>
              </a>
            </li>
        </ul>

    </div>
</div>
<div class="align-items-center text-center">
    <h2>Proyectos Reales</h2>
</div>
</header>
<div class="d-flex flex-column align-items-center">
<div class="container">
	<div class="row">
		<div class="col-md-4">
    <h4 class="text-center"><strong>PARRILLA EL FOGON</strong></h4>
    <hr>
    <div class="profile-card-2"><img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681131789/APP%20PARRILLA%20EL%20FOGON/logo_fogon_con_fondo_izq_ennsf8.png" class="img img-responsive">
        <div class="profile-name">APP</div>
        <div class="profile-username"><a href="https://parrielfogon.web.app/">LINK</a></div>
    </div>
</div>

<div class="col-md-4">
    <h4 class="text-center"><strong>PIZZAS GIGANTES EZEIZA</strong></h4>
    <hr>
    <div class="profile-card-4 text-center"><img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681133593/APP%20PARRILLA%20EL%20FOGON/pizzasgigante_u80qca.png" class="img img-responsive">
        <div class="profile-content">
            <div class="profile-name">APP
                <p><a href="https://pizzasgigantesezeiza.glideapp.io/">LINK</a></p>
            </div>
          
        </div>
    </div>
</div>
<div class="col-md-4">
    <h4 class="text-center"><strong>TIRRENO TE CUIDA</strong></h4>
    <hr>
    <div class="profile-card-2"><img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681135075/APP%20PARRILLA%20EL%20FOGON/TIRRENO_TE_CUIDA_xfyxbk.png" class="img img-responsive">
        <div class="profile-name">APP</div>
        <div class="profile-username"><a href="https://tirrenotecuida.glideapp.io/">LINK</a></div>
    </div>
</div>
<div class="col-md-4">
    <h4 class="text-center"><strong>HELADOS TIRRENO APP</strong></h4>
    <hr>
    <div class="profile-card-4 text-center"><img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681135075/APP%20PARRILLA%20EL%20FOGON/TIRRENO_PEDIDO_inzdje.png" class="img img-responsive">
        <div class="profile-content">
            <div class="profile-name">APP
                <p><a href="https://heladostirreno.glideapp.io/">LINK</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <h4 class="text-center"><strong>HELADERIA GOLDEN</strong></h4>
    <hr>
    <div class="profile-card-2"><img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681137586/IMG%20PROYECTO%20INTEGRADOR/GOLDEN_ckfevq.png" class="img img-responsive">
        <div class="profile-name">APP</div>
        <div class="profile-username"><a href="https://heladeriagolden.glideapp.io/">LINK</a></div>
    </div>
</div>
<div class="col-md-4">
    <h4 class="text-center"><strong>CROSSBOX FITNESS CLUB</strong></h4>
    <hr>
    <div class="profile-card-4 text-center"><img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1681136552/IMG%20PROYECTO%20INTEGRADOR/CROSSBOX_jcocsl.png" class="img img-responsive">
        <div class="profile-content">
            <div class="profile-name">APP
                <p><a href="https://crossbox.glideapp.io/">LINK</a></p>
            </div>
        </div>
    </div>
</div>

	</div>
</div>
</div>